.DS_Store
.classpath
.clover
.project
.settings
.tmp_*
.reverse.properties
*.swp
pom.xml.versionsBackup
*.log
bin
git-daemon-export-ok
target
node_modules
**/app/**/*.map
typings
bin-debug
temp-testng-customsuite.xml
test-output
testng-errors.xml
testng-failures.xml
testng.xml
gfembed*
derby.log
MANIFEST.MF
TAGS
pom.properties
migrate_script
.*.md.html
**/dist/**
